@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" media="screen" href="https://www.3m.com/3m_theme_assets/themes/3MTheme/assets/css/unicorn-icons.css" />
<link rel="stylesheet" media="screen" href="https://www.3m.com/3m_theme_assets/themes/3MTheme/assets/css/build/phoenix.css" />
<link rel="stylesheet" media="print" href="https://www.3m.com/3m_theme_assets/themes/3MTheme/assets/css/build/unicorn-print.css" />
<div class="text-center">
 
    <div class="MMM--pageSectionTitle MMM--wysiwyg" style="background-color:#ff8a80 ;padding:10px;background-image:url('https://www.3m.com/3m_theme_assets/themes/3MTheme/assets/images/unicorn/GradientBar.svg') ">

        <h2 class="MMM--hdg MMM--hdg_2 mix-MMM--hdg_spaced" style="color:white;padding:2px 2px 2px 59px;">
            Welcome To AWS Demo!!!
            Thank you!!

            dsklh test hjsgdj
        </h2>

    </div>

</div>
